* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header h1 {
  text-align: center;
  padding-top: 10px;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

body {
  background-color: rgb(218, 218, 218);
}

.avventura {
  background-color: #81b29a;
}

.spada {
  background-color: #f4a261;
}

.azione {
  background-color: #e63946;
}

.immortalità {
  background-color: #6d597a;
}

.mistero {
  background-color: #457b9d;
}

.potere {
  background-color: #ffb703;
}

.vendetta {
  background-color: #8d0801;
}

.guerriero {
  background-color: #264653;
}
